body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Spectral', serif;
}

/* Center content horizontally and vertically */
#submit-button, .complete-option, .delete-option, .todo-item, .add-new-item  {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    width: 600px;
    padding-top: 0px !important;
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 100px;
}

h1 {
    text-align: center;
    margin: 15px 0 5px 0;
}

.add-new-item {
    margin-bottom: 10px;
    height: 2.2em;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

#textBox {
    width: 100%;
    border: 0;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 15px;
    outline: none;  
}

#submit-button {
    background-color: rgba(221, 220, 220);
    height: 1em;
    width: 1em;
    border-radius: 50%;
    cursor: pointer;
    color: gray;
    font-size: 1.6em;
    font-weight: bold;
    margin-right: 10px;
}

#submit-button:hover {
    color: white;
    background-color: gray;
}

.list {
    font-weight: b;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item:first-child {
    border-radius: 10px 10px 0 0;
}

.todo-item:last-child {
    border-radius: 0 0 10px 10px;
}

.todo-item:nth-child(even) {
    background-color: rgb(82.7%, 82.7%, 82.7%, .5);
}

.todo-item:nth-child(odd) {
    background-color: rgb(192, 192, 192, .5);
}

li {
    padding: 10px 20px;
    flex: 1;
}

.complete-option, .delete-option {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    cursor: pointer;
    font-size: .8em;
    font-weight: bold;
}

.complete-option {
    margin-right: 10px;
    background-color: #96c492;
}

.delete-option {
    margin-right: 10px;
    background-color: #ea857b;
}

.complete-option:hover {
    color: white
}

.delete-option:hover {
    color: white
}

.delete-option:first-child:hover  {
    background-color: blue;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    font-weight: bold;
}